# Système / OS
.DS_Store
Thumbs.db
desktop.ini

# Éditeurs
*.swp
*~
.idea/

# Dépendances / build
node_modules/
dist/
build/
.cache/
.next/
*.sst

# Logs
*.log
npm-debug.log*
.vercel
.env*

# PNPM store (local cache, should not be committed)
.pnpm-store/
